<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/sobrenos.css">
    <title>Sobre nós</title>
</head>
<body>
    <main>
        <section id="infos">
            <div class="sobrenos">
                <header>
                    <ul>           
                        <a onclick="Index()">
                            <li>Home</li>
                        </a>
                    </ul>
                </header>
                <p id="titulo">MundoCinema</p>
                <p id="sobrenos">O MundoCinema é um site com o objetivo de informar como o cinema tem moldado os valores do mundo ocidental atual, fazendo o leitor refletir criticamente sobre concepções e preconceitos reafirmados ao longo de anos por essa indústria, que possui um objetivo em mente: lucrar.</p>
            </div>
            <div class="img">
                <img src="./images/sobrenos.png">
            </div>
        </section>
    </main>
    <footer>
        <p>Email:mundocinema@gmail.com</p>
    </footer>  
    <script src="./javascripts/index.js"></script>
</body>
</html>